<?php
$_LOG4PHP = [
	'rootLogger' => [
		'appenders' => ['openmvc_log', 'screen']
	],
	'appenders' => [
		'screen' => [
			'class' => 'LoggerAppenderConsole',
			'layout' => [
				'class' => 'LoggerLayoutPattern',
				'params' => [
					'conversionPattern' => '%d{m/d/y H:i:s,u} %c %x - %p %m%n'
				]
			],
			'threshold' => 'info'
		],
		'email' => [
			'class' => 'LoggerAppenderMail',
			'layout' => [
				'class' => 'LoggerLayoutPattern',
				'params' => [
					'conversionPattern' => '%d{m/d/y H:i:s,u} [%t] [%sid] %p %c %x - %m%n%n%server'
				]
			],
			'threshold' => 'error',
			'params' => [
				'to' => 'errors@example.com',
				'from' => 'errors@example.com',
				'subject' => 'WEBSITE ERROR'
			]
		],
		'openmvc_log' => [
			'class' => 'LoggerAppenderFile',
			'layout' => [
				'class' => 'LoggerLayoutPattern',
				'params' => [
					'conversionPattern' => '%d{m/d/y H:i:s,u} [%sid] %p %m%n'
				]
			],
			'params' => [
				'file' => $root_dir.'logs/openmvc-'.date('d-m-Y').'.log',
				'append' => true
			],
			'threshold' => 'all'
		]
	]
];
