.htaccess
robots.txt
google*.html
core/config/log4php.php
core/config/config.php
core/config/config-*.php
composer/composer.lock
composer/composer.phar
composer/vendor/
logs/*.log
sites/*
modules/*
docs/phpdoc
docs/schemaspy
docs/doxygen_*.tmp
docs/html
docs/latex
docs/src/mainpage.dox
