.htaccess
robots.txt
google*.html
core/config/log4php.php
core/config/config.php
core/config/admin_users.php
core/config/config-*.php
core/config/constants.php
composer/composer.lock
composer/composer.phar
composer/vendor/
composer/components/
logs/*.log
sites/*
modules/*
docs/phpdoc
docs/schemaspy
docs/doxygen_*.tmp
docs/html
docs/latex
docs/src/mainpage.dox
docs/doxygen_sqlite3.db
