.htaccess
core/config/log4php.json
core/config/config.php
composer/composer.lock
composer/composer.phar
composer/vendor/
logs/*.log
sites/*
modules/*
docs/phpdoc
docs/schemaspy
docs/doxygen_*.tmp
docs/html
docs/latex
docs/src/mainpage.dox
