# Don't show directory listings for URLs which map to a directory.
Options -Indexes

# Follow symbolic links in this directory.
Options +FollowSymLinks

# Set the default handler.
DirectoryIndex index.php

# Various rewrite rules.
<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteBase /

	RewriteRule ^(.*)/css/(.*)$ $1/css/$2 [PT,L]
	RewriteRule ^(.*)/js/(.*)$ $1/js/$2 [PT,L]
	RewriteRule ^(.*)/images/(.*)$ $1/images/$2 [PT,L]
	RewriteRule ^(.*)/downloads/(.*)$ $1/downloads15~20~/$2 [PT,L]

	RewriteCond %{REQUEST_URI} !^/?index.php
	RewriteRule ^/?([^/]+)/?$ /index.php?controller=$1 [QSA,L]

	RewriteRule ^/?([^/]+)/([^/]+)/?$ /index.php?controller=$1&method=$2 [QSA,L]
	RewriteRule ^/?([^/]+)/([^/]+)/(.+)$ /index.php?controller=$1&method=$2&params=$3 [QSA,L]
</IfModule>
