# Don't show directory listings for URLs which map to a directory.
Options -Indexes

# Follow symbolic links in this directory.
Options +FollowSymLinks

# Set the default handler.
DirectoryIndex index.php

# Various rewrite rules.
<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteBase /

	# give static content proper urls
	RewriteRule ^/?static-\d+/(.*)/themes/(.*)$ /$1/themes/$2 [PT,L]

	# Allow access to static content
	RewriteCond %{DOCUMENT_ROOT}/$1/themes/$2 -f
	RewriteRule ^(.*)/themes/(.*)$ $1/themes/$2 [PT,L]

	# Rewrite controller methods to index.php
	RewriteCond %{REQUEST_URI} !^/?index.php
	RewriteRule ^/?([^/]+)(/([^/]+))?(/(.*))?$ /index.php?controller=$1&method=$3&params=$5 [QSA,L]
</IfModule>
