.clearfix {
	*zoom: 1;
}
.clearfix:before,
.clearfix:after {
	display: table;
	content: "";
	line-height: 0;
}
.clearfix:after {
	clear: both;
}
.hide-text {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}
.input-block-level {
	display: block;
	width: 100%;
	min-height: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body,
html {
	font-family: "Open Sans", Arial, serif;
	background: #ffffff;
}
a:focus {
	outline: none;
}
h1 {
	font-size: 31.5px;
}
h2 {
	font-size: 27.3px;
}
h3 {
	font-size: 24.5px;
}
h4 {
	font-size: 17.5px;
}
h5 {
	font-size: 14px;
}
h6 {
	font-size: 11.9px;
}
h1 small {
	font-size: 21.7px;
}
h2 small {
	font-size: 14.7px;
}
h3 small {
	font-size: 14px;
}
h4 small {
	font-size: 14px;
}
.page-title {
	margin: 0;
}
.page-title small {
	color: rgba(51, 51, 51, 0.5);
}
#navigation .header {
	padding: 10px 0 10px 0;
	background: rgba(255, 255, 255, 0.9);
	border-top: 1px solid #55a79a;
	color: #242424;
	min-height: 90px;
}
#navigation .header .header-inner {
	position: relative;
}
#navigation .brand {
	height: 40px;
}
#navigation .brand > a {
	font-weight: 400;
	font-family: "Rambla", Arial, serif;
	padding: 0;
	margin: 8px 0 0 0;
	display: block;
	border: none;
	text-shadow: none;
	line-height: 1;
	color: #55a79a;
}
#navigation .brand > a h1 {
	font-size: 39.5px;
	font-weight: bold;
	margin: 0;
	padding: 0;
	line-height: 1;
}
#navigation .brand > a h1 span {
	color: #464646;
	color: rgba(36, 36, 36, 0.8);
	font-weight: 700;
}
#navigation .brand > a:hover {
	text-decoration: none;
	cursor: pointer;
}
#navigation .slogan {
	color: #888;
	font-size: 13.9px;
	margin: 8px 0 0 1em;
	padding: 12px 0 8px 1em;
	border-left: 1px solid #e6e6e6;
	float: left;
}
@media (max-width: 767px) {
	#navigation .brand {
		text-align: center;
	}
	#navigation .header .header-search {
		text-align: center;
	}
	#navigation .header .header-search input {
		float: none;
	}
}
#footer {
	background: #333333;
	min-height: 200px;
	padding: 20px 0;
	color: #A2A2A2;
	color: rgba(255, 255, 255, 0.6);
	border-top: 2px solid #55a79a;
	margin-top: 0px;
	padding-top: 0px;
}
#footer h3 {
	font-size: 1.2em;
	color: #CCCCCC;
	color: rgba(255, 255, 255, 0.8);
	line-height: 1;
	font-weight: bold;
}
#footer a {
	color: #CCCCCC;
	color: rgba(255, 255, 255, 0.8);
}
#footer .block {
	margin-bottom: 1em;
}
#footer .inline {
	display: inline-block;
}
#footer .contact-block p {
	margin-bottom: 0.2em;
}
#footer .contact-block i {
	padding-right: 0.5em;
}
#footer #toplink {
	margin-bottom: -25px;
	text-align: center;
}
#footer #toplink a:hover {
	text-decoration: none;
	color: #ffffff;
}
#footer #toplink i {
	color: #55a79a;
}
#footer .subfooter {
	border-top: 1px dotted #3E3E3E;
	border-top: 1px dotted rgba(255, 255, 255, 0.1);
	margin-top: 2em;
	padding-top: 1em;
	text-align: center;
}
#footer .container {
	position: relative;
}
.social-media {
	margin-top: 1em;
	margin-bottom: 1.5em;
	text-align: center;
}
.social-media a {
	text-decoration: none;
	color: #eeeeee;
	color: rgba(255, 255, 255, 0.8);
	display: inline-block;
	line-height: 36px;
	width: 36px;
	height: 36px;
	background: #464646;
	background: rgba(36, 36, 36, 0.8);
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	border-radius: 200px;
}
.social-media a i {
	font-size: 20px;
	color: #ffffff;
	padding: 0;
	line-height: 36px;
	width: 36px;
	height: 36px;
	text-align: center;
	margin-right: 0.2em;
	display: inline-block;
}
.social-media a:hover {
	text-decoration: none;
	background: #55a79a;
}
.social-media a.last {
	padding-bottom: 0;
	border-bottom: 0;
}
.btn span {
	display: block;
	font-size: 12px;
}
.spacer {
	font-weight: bold;
	color: #55a79a;
}
.spacer.dark {
	color: #44857b;
}
/* --------------------------------------------------
 * Common styles
 *-------------------------------------------------- */
a:hover img {
	opacity: 0.8;
	filter: alpha(opacity=80);
}
ul.inline li {
	display: inline;
}
.align-center {
	text-align: center;
}
.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
/* --------------------------------------------------
 * Login/Register styles
 *-------------------------------------------------- */
.form-error {
	color: darkred;
}
.form-error-input {
	border-color: darkred;
}
.form-login-register {
	max-width: 430px;
	padding: 15px;
	margin: 0 auto;
}
.form-login-register .login-failed {
	font-size: 1.5em;
	font-weight: bold;
}
.form-login-register .form-login-register-heading,
.form-login-register .checkbox {
	margin-bottom: 10px;
}
.form-login-register .checkbox {
	font-weight: normal;
}
.form-login-register .form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.form-login-register .form-control:focus {
	z-index: 2;
}
.form-login-register input[type="text"] {
	margin-bottom: -1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.form-login-register input[type="password"] {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.form-login-register button {
	margin-top: 15px;
	margin-bottom: 15px;
}
.form-login-register hr {
	padding-top: 0px;
	padding-bottom: 5px;
	margin-top: 0px;
	margin-bottom: 0px;
}
