.navbar-inverse {
	margin-bottom: 0px;
}
#navigation .header {
	padding: 10px 0 10px 0;
	background: rgba(255, 255, 255, 0.9);
	color: #242424;
	min-height: 90px;
}
#navigation .header .header-inner {
	position: relative;
}
#navigation .brand {
	height: 40px;
}
#navigation .brand > a {
	font-weight: 400;
	font-family: "Rambla", Arial, serif;
	padding: 0;
	margin: 8px 0 0 0;
	display: block;
	border: none;
	text-shadow: none;
	line-height: 1;
}
#navigation .brand > a h1 {
	font-size: 39.5px;
	font-weight: bold;
	margin: 0;
	padding: 0;
	line-height: 1;
}
#navigation .brand > a h1 span {
	color: #464646;
	color: rgba(36, 36, 36, 0.8);
	font-weight: 700;
}
#navigation .brand > a:hover {
	text-decoration: none;
	cursor: pointer;
}
#navigation .slogan {
	color: #888;
	font-size: 13.9px;
	margin: 8px 0 0 1em;
	padding: 12px 0 8px 1em;
	border-left: 1px solid #e6e6e6;
	float: left;
}
@media (max-width: 767px) {
	#navigation .brand {
		text-align: center;
	}
	#navigation .header .header-search {
		text-align: center;
	}
	#navigation .header .header-search input {
		float: none;
	}
}
#footer {
	background: #333333;
	min-height: 160px;
	padding: 0;
	color: #A2A2A2;
	color: rgba(255, 255, 255, 0.6);
	margin-top: 0px;
	padding-top: 0px;
}
#footer h3 {
	font-size: 1.2em;
	color: #CCCCCC;
	color: rgba(255, 255, 255, 0.8);
	line-height: 1;
	font-weight: bold;
}
#footer a {
	color: #CCCCCC;
	color: rgba(255, 255, 255, 0.8);
}
#footer .block {
	margin-bottom: 1em;
}
#footer .inline {
	display: inline-block;
}
#footer .contact-block p {
	margin-bottom: 0.2em;
}
#footer .contact-block i {
	padding-right: 0.5em;
}
#footer #toplink {
	margin-bottom: -25px;
	text-align: center;
}
#footer #toplink a:hover {
	text-decoration: none;
	color: #ffffff;
}
#footer #toplink i {
	color: #55a79a;
}
#footer .subfooter {
	border-top: 1px dotted #3E3E3E;
	border-top: 1px dotted rgba(255, 255, 255, 0.1);
	margin-top: 0em;
	padding-top: 1em;
	text-align: center;
}
#footer .container {
	position: relative;
}
.social-media {
	margin-top: 1em;
	margin-bottom: 1.5em;
	text-align: center;
}
.social-media a {
	text-decoration: none;
	color: #eeeeee;
	color: rgba(255, 255, 255, 0.8);
	display: inline-block;
	line-height: 36px;
	width: 36px;
	height: 36px;
	background: #464646;
	background: rgba(36, 36, 36, 0.8);
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	border-radius: 200px;
}
.social-media a i {
	font-size: 20px;
	color: #ffffff;
	padding: 0;
	line-height: 36px;
	width: 36px;
	height: 36px;
	text-align: center;
	margin-right: 0.2em;
	display: inline-block;
}
.social-media a:hover {
	text-decoration: none;
	background: #55a79a;
}
.social-media a.last {
	padding-bottom: 0;
	border-bottom: 0;
}
.btn span {
	display: block;
	font-size: 12px;
}
.spacer {
	font-weight: bold;
	color: #55a79a;
}
.spacer.dark {
	color: #44857b;
}
